footer {
    padding: 20px 0px;
    .additory-container {
        margin: 0px auto;
        svg {
            width: 100%;
            height: 30px;
            fill: $black;
        }
        h3 {
            padding-left: 15px;
            margin: 0px;
            font-family: $mediumFont;
            font-weight: 500;
        }
        &:first-of-type {
            width: 30px;
        }
    }
    .module-with-contact-data {
        p {
            font-family: $lightFont;
            font-size: 18px;
            color: $black;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:last-child {
                margin: 0px;
            }
        }
    }
    .module-with-additory-data {
        p {
            font-family: $lightFont;
            &.email {
                font-size: 18px;
            }
            &.copyright {
                font-size: 16px;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:last-child {
                margin: 0px;
            }
        }
    }
    .module-with-additory-list {
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
        text-align: center;
        li {
            padding: 0px 5px;
            display: inline-block;
            a {
                font-family: $lightFont;
                font-size: 16px;
            }
        }
    }
}
@media screen and (min-device-width: 721px) {
    footer {
        .module-with-additory-list {
            margin-top: 15px;
        }
        .module-with-additory-data {
            p {
                text-align: right;
            }
        }
    }
}
@media screen and (max-device-width: 720px) {
    footer {
        .module-with-contact-data, .module-with-logotype, .module-with-additory-data {
            margin-bottom: 20px;
        }
        .module-with-additory-data {
            p {
                text-align: center;
            }
        }
    }
}