header {
    padding: 10px 0px;
    margin-bottom: 40px;
    .additory-container {
        height: 52px;
        svg {
            width: 28px;
            height: 28px;
            fill: $white;
        }
        h1 {
            font-size: 20px;
            font-family: $mediumFont;
            font-weight: 500;
            margin: 0px;
            color: $white;
            padding-left: 12px;
        }
    }
    p {
        color: $white;
        font-size: 26px;
        font-family: $boldFont;
        font-weight: 700;
        margin: 0px;
        text-align: center;
        line-height: 100%;
    }
}