.module-with-form {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../img/background.png");
    h2 {
        font-family: $boldFont;
        font-weight: 700;
        font-size: 40px;
        color: $white;
        margin: 0px auto 20px;
        text-align: center;
    }
    p {
        font-family: $mediumFont;
        font-weight: 500;
        font-size: 18px;
        color: $white;
        text-align: center;
        margin-bottom: 45px;
    }
    .additory-container {
        display: block;
        background-color: $white;
        border-radius: 8px;
        padding: 30px 0px 15px;
        div {
            display: block;
        }
        img {
            display: block;
            max-width: 70%;
            margin: 0px auto 30px;
        }
        form {
            width: 270px;
            text-align: left;
            margin: 0px auto;
            padding: 15px;
            h3 {
                margin: 0px auto 24px;
                text-align: center;
                font-family: $mediumFont;
                font-weight: 500;
                font-size: 18px;
                color: $black;
            }
            .form-row {
                &:not(:last-of-type) {
                    margin-bottom: 16px;
                }
                label {
                    font-size: 16px;
                    font-family: $lightFont;
                    font-weight: 300;
                    color: $black;
                    margin: 0px;
                }
                input:not([type=submit]) {
                    padding: 0px 10px;
                    width: 100%;
                    height: 46px;
                    border: 1px solid rgb(230, 230, 230);
                    border-radius: 8px;
                }
            }
            input[type=submit] {
                display: block;
                width: 90%;
                margin: 16px auto 0px;
                border: none;
                border-radius: 52px;
                height: 52px;
            }
        }
    }
}