.module-with-key-questions {
    h2 {
        font-size: 40px;
        font-family: $boldFont;
        font-weight: 700;
        color: $black;
        text-align: center;
        margin-bottom: 60px;
        &:after {
            display: block;
            margin: 40px auto;
            position: relative;
            content: "";
            width: 100%;
            height: 14px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url("../img/underlining-blue.svg");
        }
    }
    .key-question {
        margin: 30px auto;
        .key-question-header {
            span {
                font-size: 12px;
                font-family: $mediumFont;
                font-weight: 500;
            }
            div:nth-of-type(1) {
                span {
                    display: block;
                    height: 34px;
                    padding: 8px 7px;
                    color: $white;
                    background-repeat: no-repeat;
                    background-image: url("../img/pepper.svg");
                    background-size: 16px 34px;
                }
            }
            div:nth-of-type(2) {
                span {
                    margin-left: 6px;
                    color: $grey;
                }
            }
            img {
                width: 16px;
                height: 34px;
            }
        }
        .module-with-preview {
            margin: 0px auto 15px;
            img {
                max-width: 100%;
                border-radius: 8px;
            }
        }
        h3 {
            font-size: 20px;
            font-family: $mediumFont;
            font-weight: 500;
            color: $black;
            &:after {
                content: "";
                display: block;
                width: 170px;
                height: 7px;
                margin-top: 10px;
                background-repeat: no-repeat;
                background-image: url("../img/underlining-blue-small.svg");
            }
        }
        ul {
            list-style-type: none;
            margin: 0px auto 20px;
            padding: 0px;
            li {
                position: relative;
                font-size: 16px;
                font-family: $lightFont;
                font-weight: 300;
                padding-left: 10px;
                color: $grey;
                &:not(:last-of-type) {
                    margin-bottom: 28px;
                }
                &:before {
                    position: absolute;
                    content: "-";
                    left: 0px;
                }
            }
        }
        p {
            padding-left: 16px;
            font-family: $mediumFont;
            font-weight: 500;
            font-size: 18px;
            color: $lightRed;
            margin-bottom: 0px;
        }
        .key-question-footer {
            img {
                width: 43px;
                height: 40px;
            }
        }
    }
    .button {
        display: inline-block;
        min-width: 235px;
        padding: 18px 0px;
        border-radius: 52px;
    }
    .delimiter {
        width: 100%;
    }
}