.module-with-questions {
    h2 {
        font-size: 60px;
        font-family: $boldFont;
        font-weight: 700;
        color: $black;
        text-align: center;
        margin-bottom: 72px;
        &:after {
            display: block;
            margin: 40px auto;
            position: relative;
            content: "";
            width: 510px;
            height: 14px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url("../img/underlining-blue.svg");
        }
    }
    ul {
        padding: 0px;
        margin: 0px auto;
        li {
            position: relative;
            display: block;
            padding: 17px;
            border-radius: 8px;
            border: 1px solid $borderColor;
            font-size: 16px;
            font-family: $lightFont;
            font-weight: 300;
            color: $grey;
            @include transition(all, 0.2s, ease-in-out);
            &:after {
                position: absolute;
                height: 102px;
                top: 50%;
                right: 15px;
                margin-top: -51px;
                color: $borderColor;
                font-size: 68px;
                font-family: $boldFont;
                font-weight: 700;
            }
            @for $counter from 1 through 6 {
                &:nth-of-type(#{$counter}):after {
                    content: "0#{$counter}";
                }
            }
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
            &.active {
                background-color: $lightRed;
                color: $white;
                cursor: pointer;
                &:after {
                    color: $white;
                }
            }
        }
    }
    .module-with-preview {
        margin-bottom: 32px;
        img {
            width: 100%;
            border-radius: 8px;
            &:not(.active) {
                display: none;
                opacity: 0;
            }
        }
    }
    p {
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-family: $lightFont;
        font-weight: 300;
        border-top: 2px solid rgb(190, 20, 80);
        border-bottom: 2px solid rgb(190, 20, 80);
        color: rgb(190, 20, 80);
    }
}