@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}
.preloader-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 45;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
    opacity: 0;
    div {
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: rgb(0, 0, 0);
    }
}
#figure-1 {
    bottom: 15px;
    left: 60px;
    @include animation(rotation 3s infinite);
    //animation: rotation 3s infinite;
}
#figure-2 {
    bottom: 15px;
    left: 15px;
    @include animation(moving-2 3s infinite, reverse-rotation 3s infinite);
    //animation: moving-2 3s infinite, reverse-rotation 3s infinite;
}
#figure-3 {
    bottom: 30px;
    left: 15px;
    @include animation(moving-3 3s infinite, reverse-rotation 3s infinite);
    //animation: moving-3 3s infinite, reverse-rotation 3s infinite;
}
#figure-4 {
    bottom: 45px;
    left: 15px;
    @include animation(moving-4 3s infinite, reverse-rotation 3s infinite);
    //animation: moving-4 3s infinite, reverse-rotation 3s infinite;
}
#figure-5 {
    bottom: 60px;
    left: 15px;
    @include animation(rotation 3s infinite);
    //animation: rotation 3s infinite;
}
#figure-6 {
    bottom: 60px;
    left: 30px;
    @include animation(moving-6 3s infinite, rotation 3s infinite);
    //animation: moving-6 3s infinite, rotation 3s infinite;
}
#figure-7 {
    bottom: 60px;
    left: 45px;
    @include animation(moving-7 3s infinite, rotation 3s infinite);
    //animation: moving-7 3s infinite, rotation 3s infinite;
}
#figure-8 {
    bottom: 60px;
    left: 60px;
    @include animation(moving-8 3s infinite, rotation 3s infinite);
    //animation: moving-8 3s infinite, rotation 3s infinite;
}
#figure-9 {
    bottom: 30px;
    left: 30px;
    @include animation(moving-9 3s infinite, rotation 3s infinite);
    //animation: moving-9 3s infinite, rotation 3s infinite;
}
@include keyframes(moving-2) {
    0%, 66% {
        bottom: 15px;
        left: 15px;
    }
    25% {
        bottom: -7.5px;
        left: 36.5px;
    }
}
@include keyframes(moving-3) {
    0%, 66% {
        bottom: 30px;
        left: 15px;
    }
    25% {
        bottom: 14.5px;
        left: 14.5px;
    }
}
@include keyframes(moving-4) {
    0%, 66% {
        bottom: 45px;
        left: 15px;
    }
    25% {
        bottom: 36.5px;
        left: -8.5px;
    }
}
@include keyframes(moving-5) {
    0%, 66% {
        bottom: 60px;
        left: 15px;
    }
    25% {
        bottom: 75px;
        left: 0px;
    }
}
@include keyframes(moving-6) {
    0%, 66% {
        bottom: 60px;
        left: 30px;
    }
    25% {
        bottom: 83.5px;
        left: 38.5px;
    }
}
@include keyframes(moving-7) {
    0%, 66% {
        bottom: 60px;
        left: 45px;
    }
    25% {
        bottom: 61px;
        left: 61px;
    }
}
@include keyframes(moving-8) {
    0%, 66% {
        bottom: 60px;
        left: 60px;
    }
    25% {
        bottom: 38.5px;
        left: 83.5px;
    }
}
@include keyframes(moving-9) {
    0%, 66% {
        bottom: 30px;
        left: 30px;
    }
    25% {
        bottom: 37.5px;
        left: 37.5px;
    }
}
@include keyframes(rotation) {
    0%, 66% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(135deg);
    }
}
@include keyframes(reverse-rotation) {
    0%, 66% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(135deg);
    }
}
/*@keyframes moving-2 {
    0%, $secondPoint {
        bottom: 15px;
        left: 15px;
    }
    $firstPoint {
        bottom: -7.5px;
        left: 36.5px;
    }
}*/
/*@keyframes moving-3 {
    0%, $secondPoint {
        bottom: 30px;
        left: 15px;
    }
    $firstPoint {
        bottom: 14.5px;
        left: 14.5px;
    }
}*/
/*@keyframes moving-4 {
    0%, $secondPoint {
        bottom: 45px;
        left: 15px;
    }
    $firstPoint {
        bottom: 36.5px;
        left: -8.5px;
    }
}*/
/*@keyframes moving-5 {
    0%, $secondPoint {
        bottom: 60px;
        left: 15px;
    }
    $firstPoint {
        bottom: 75px;
        left: 0px;
    }
}*/
/*@keyframes moving-6 {
    0%, $secondPoint {
        bottom: 60px;
        left: 30px;
    }
    $firstPoint {
        bottom: 83.5px;
        left: 38.5px;
    }
}*/
/*@keyframes moving-7 {
    0%, $secondPoint {
        bottom: 60px;
        left: 45px;
    }
    $firstPoint {
        bottom: 61px;
        left: 61px;
    }
}*/
/*@keyframes moving-8 {
    0%, $secondPoint {
        bottom: 60px;
        left: 60px;
    }
    $firstPoint {
        bottom: 38.5px; //45
        left: 83.5px; //90
    }
}
@keyframes moving-9 {
    0%, $secondPoint {
        bottom: 30px;
        left: 30px;
    }
    $firstPoint {
        bottom: 37.5px;
        left: 37.5px;
    }
}*/
/*@keyframes rotation {
    0%, $secondPoint {
        transform: rotate(0deg);
    }
    $firstPoint {
        transform: rotate(135deg);
    }
}
@keyframes reverse-rotation {
    0%, $secondPoint {
        transform: rotate(0deg);
    }
    $firstPoint {
        transform: rotate(-135deg);
    }
}*/