@import "_common-style.scss";
@import "_button.scss";
@import "_module-with-introduction.scss";
@import "_module-with-questions.scss";
@import "_module-with-key-questions.scss";
@import "_module-with-expert.scss";
@import "_module-with-advantages.scss";
@import "_module-with-form.scss";
@import "_footer.scss";
@import "modal-window-base/_modal-window-base.scss";
@import "_modal-window.scss";
@import "_preloader.scss";
.d-hidden {
    display: none;
}
.module {
    display: table;
    height: 100vh;
    padding: 100px 0px;
    .additory-module {
        display: table-cell;
        vertical-align: middle;
    }
}
.additory-container {
    display: table;
    .container-cell {
        display: table-cell;
        vertical-align: middle;
    }
}