@font-face {
  font-family: "TTNorms-ExtraBold";
  src: url("../fonts/TTNorms-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "TTNorms-Bold";
  src: url("../fonts/TTNorms-Bold.otf") format("opentype");
}
@font-face {
  font-family: "TTNorms-Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("opentype");
}
@font-face {
  font-family: "TTNorms-Light";
  src: url("../fonts/TTNorms-Light.otf") format("opentype");
}
.button {
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  background-color: #f31462;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: #de2264;
}

header {
  padding: 20px 0px;
}
header .additory-container {
  margin: 0px auto 10px;
}
header .additory-container svg {
  width: 28px;
  height: 28px;
  fill: white;
}
header .additory-container h1 {
  font-size: 24px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  margin: 0px;
  color: white;
  padding-left: 12px;
}
header p {
  color: #be1450;
  font-size: 22px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  margin: 0px auto 10px;
  text-align: center;
}

.module-with-intoduction {
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 100%;
  background-image: url("../img/background.png");
}
.module-with-intoduction .module-with-description h2 {
  width: 90%;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin: 0px auto 20px;
  text-align: center;
}
.module-with-intoduction .module-with-description h3 {
  width: 90%;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin: 0px auto 40px;
  text-align: center;
}
.module-with-intoduction .module-with-description p {
  width: 90%;
  color: white;
  font-size: 20px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  margin: 0px auto 25px;
  text-align: center;
}
.module-with-intoduction form {
  padding: 15px;
  background-color: white;
  border-radius: 8px;
}
.module-with-intoduction form h3 {
  margin: 0px auto 24px;
  text-align: center;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #182222;
}
.module-with-intoduction form .module-with-image {
  position: relative;
}
.module-with-intoduction form .module-with-image:after {
  position: absolute;
  top: -12px;
  left: -20px;
  content: "";
  display: block;
  width: 115px;
  height: 392px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}
.module-with-intoduction form .additory-container {
  margin-bottom: 22px;
}
.module-with-intoduction form .additory-container div p {
  padding-left: 24px;
  color: #717171;
  font-size: 15px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  margin: 0px auto;
}
.module-with-intoduction form .module-with-padding {
  padding: 0px 10px;
}
.module-with-intoduction form .module-with-padding .form-row:not(:last-of-type) {
  margin-bottom: 16px;
}
.module-with-intoduction form .module-with-padding .form-row label {
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  color: #182222;
  margin: 0px;
}
.module-with-intoduction form .module-with-padding .form-row input:not([type=submit]) {
  padding: 0px 10px;
  width: 100%;
  height: 46px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.module-with-intoduction form .module-with-padding input[type=submit] {
  display: block;
  width: 90%;
  margin: 16px auto 0px;
  border: none;
  border-radius: 52px;
  height: 52px;
}

.module-with-questions h2 {
  font-size: 40px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  color: #182222;
  text-align: center;
  margin-bottom: 60px;
}
.module-with-questions h2:after {
  display: block;
  margin: 40px auto;
  position: relative;
  content: "";
  width: 100%;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/underlining-blue.svg");
}
.module-with-questions ul {
  padding: 0px;
  margin: 0px auto;
}
.module-with-questions ul li {
  position: relative;
  display: block;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  color: #717171;
  padding-right: 120px;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.module-with-questions ul li:after {
  position: absolute;
  height: 102px;
  top: 50%;
  right: 15px;
  margin-top: -51px;
  color: #e6e6e6;
  font-size: 68px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
}
.module-with-questions ul li:nth-of-type(1):after {
  content: "01";
}
.module-with-questions ul li:nth-of-type(2):after {
  content: "02";
}
.module-with-questions ul li:nth-of-type(3):after {
  content: "03";
}
.module-with-questions ul li:nth-of-type(4):after {
  content: "04";
}
.module-with-questions ul li:nth-of-type(5):after {
  content: "05";
}
.module-with-questions ul li:nth-of-type(6):after {
  content: "06";
}
.module-with-questions ul li:hover {
  background-color: #fea7b2;
  color: white;
  cursor: pointer;
}
.module-with-questions ul li:hover:after {
  color: white;
}
.module-with-questions .module-with-preview {
  display: none;
}
.module-with-questions p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  border-top: 2px solid #53d1e4;
  border-bottom: 2px solid #53d1e4;
  color: #53d1e4;
}

.module-with-key-questions h2 {
  font-size: 40px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  color: #182222;
  text-align: center;
  margin-bottom: 60px;
}
.module-with-key-questions h2:after {
  display: block;
  margin: 40px auto;
  position: relative;
  content: "";
  width: 100%;
  height: 14px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/underlining-blue.svg");
}
.module-with-key-questions .key-question {
  margin: 30px auto;
}
.module-with-key-questions .key-question .key-question-header span {
  font-size: 12px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
}
.module-with-key-questions .key-question .key-question-header div:nth-of-type(1) span {
  display: block;
  height: 34px;
  padding: 8px 7px;
  color: white;
  background-repeat: no-repeat;
  background-image: url("../img/pepper.svg");
  background-size: 16px 34px;
}
.module-with-key-questions .key-question .key-question-header div:nth-of-type(2) span {
  margin-left: 6px;
  color: #717171;
}
.module-with-key-questions .key-question .key-question-header img {
  width: 16px;
  height: 34px;
}
.module-with-key-questions .key-question .module-with-preview {
  margin: 0px auto 15px;
}
.module-with-key-questions .key-question .module-with-preview img {
  max-width: 100%;
  border-radius: 8px;
}
.module-with-key-questions .key-question h3 {
  font-size: 20px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  color: #182222;
}
.module-with-key-questions .key-question h3:after {
  content: "";
  display: block;
  width: 170px;
  height: 7px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-image: url("../img/underlining-blue-small.svg");
}
.module-with-key-questions .key-question ul {
  list-style-type: none;
  margin: 0px auto 20px;
  padding: 0px;
}
.module-with-key-questions .key-question ul li {
  position: relative;
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  padding-left: 10px;
  color: #717171;
}
.module-with-key-questions .key-question ul li:not(:last-of-type) {
  margin-bottom: 28px;
}
.module-with-key-questions .key-question ul li:before {
  position: absolute;
  content: "-";
  left: 0px;
}
.module-with-key-questions .key-question p {
  padding-left: 16px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fea7b2;
  margin-bottom: 0px;
}
.module-with-key-questions .key-question .key-question-footer img {
  width: 43px;
  height: 40px;
}
.module-with-key-questions .button {
  display: inline-block;
  min-width: 235px;
  padding: 18px 0px;
  border-radius: 52px;
}
.module-with-key-questions .delimiter {
  width: 100%;
}

.module-with-advantages {
  background-repeat: no-repeat;
  background-image: url("../img/bg.png");
  background-size: 1920px auto;
  background-position: 50% 50%;
}
.module-with-advantages .advantage {
  position: relative;
  padding-left: 27px;
  margin-bottom: 30px;
}
.module-with-advantages .advantage:before {
  content: attr(data-number);
  position: absolute;
  top: 2px;
  left: 0px;
  display: block;
  padding: 2px 7px;
  border-radius: 100%;
  background-color: #fea7b2;
  color: white;
  text-align: center;
  font-size: 10px;
}
.module-with-advantages .advantage h3 {
  font-size: 16px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  color: #182222;
  text-transform: uppercase;
  margin: 0px auto 5px;
}
.module-with-advantages .advantage ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.module-with-advantages .advantage ul li {
  position: relative;
  color: #717171;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 10px;
}
.module-with-advantages .advantage ul li:before {
  content: "-";
  position: absolute;
  left: 0px;
}
.module-with-advantages .advantage p {
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #717171;
}
.module-with-advantages .advantage p:last-of-type {
  margin-bottom: 0px;
}
.module-with-advantages h2 {
  font-size: 40px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  color: #182222;
  text-align: center;
  margin-bottom: 60px;
}
.module-with-advantages h2:after {
  display: block;
  margin: 40px auto;
  position: relative;
  content: "";
  width: 100%;
  height: 14px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/underlining-blue.svg");
}
.module-with-advantages .conclusion {
  border-bottom: 2px solid #d85679;
  border-top: 2px solid #d85679;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "TTNorms-Medium", arial, sans-serif;
  color: #d85679;
  text-align: center;
}

.module-with-expert h2 {
  font-size: 40px;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  color: #182222;
  text-align: center;
  margin-bottom: 60px;
}
.module-with-expert h2:after {
  display: block;
  margin: 40px auto;
  position: relative;
  content: "";
  width: 100%;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/underlining-blue.svg");
}
.module-with-expert h2 span {
  display: block;
  margin: 30px auto 0px;
  font-size: 20px;
}
.module-with-expert h3 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  color: #182222;
}
.module-with-expert img {
  width: 100%;
}
.module-with-expert ul {
  list-style-type: none;
  margin: 0px auto 0px;
  padding: 0px;
}
.module-with-expert ul li {
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  padding-left: 15px;
  color: #717171;
  background-image: url("../img/bullet.svg");
  background-repeat: no-repeat;
  background-size: 8px 11px;
  background-position: 0px 3px;
  line-height: 120%;
}
.module-with-expert ul li:not(:last-of-type) {
  margin-bottom: 20px;
}
.module-with-expert ul li:last-of-type {
  margin-bottom: 0px;
}
.module-with-expert .expert-name {
  display: inline-block;
  margin: 0px auto;
  padding-top: 20px;
  padding-right: 20px;
  color: #182222;
  font-size: 24px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  margin: 20px auto 20px;
  background-image: url("../img/background-2.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.module-with-expert .achievement {
  margin-top: 60px;
}
.module-with-expert .achievement .additory-container {
  height: 90px;
  margin: 0px auto 35px;
}
.module-with-expert .achievement .additory-container h4 {
  position: relative;
  min-width: 100px;
  padding: 10px 20px 0px;
  display: table-cell;
  vertical-align: middle;
  color: #f31462;
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  background-repeat: no-repeat;
  background-image: url("../img/figures.svg");
  background-size: 80px auto;
}
.module-with-expert .achievement .additory-container h4:after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -53px;
  content: "";
  display: block;
  width: 106px;
  height: 7px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../img/underlining-blue-small-1.svg");
}
.module-with-expert .achievement p {
  font-size: 18px;
  font-weight: 500;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-color: #182222;
  text-align: center;
}

.module-with-form {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background.png");
}
.module-with-form h2 {
  font-family: "TTNorms-Bold", arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 0px auto 20px;
  text-align: center;
}
.module-with-form p {
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-bottom: 45px;
}
.module-with-form .additory-container {
  display: block;
  background-color: white;
  border-radius: 8px;
  padding: 30px 0px 15px;
}
.module-with-form .additory-container div {
  display: block;
}
.module-with-form .additory-container img {
  display: block;
  max-width: 70%;
  margin: 0px auto 30px;
}
.module-with-form .additory-container form {
  width: 270px;
  text-align: left;
  margin: 0px auto;
  padding: 15px;
}
.module-with-form .additory-container form h3 {
  margin: 0px auto 24px;
  text-align: center;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #182222;
}
.module-with-form .additory-container form .form-row:not(:last-of-type) {
  margin-bottom: 16px;
}
.module-with-form .additory-container form .form-row label {
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  color: #182222;
  margin: 0px;
}
.module-with-form .additory-container form .form-row input:not([type=submit]) {
  padding: 0px 10px;
  width: 100%;
  height: 46px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.module-with-form .additory-container form input[type=submit] {
  display: block;
  width: 90%;
  margin: 16px auto 0px;
  border: none;
  border-radius: 52px;
  height: 52px;
}

.hiding {
  overflow-y: hidden;
}

.modal-window {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: -100%;
  overflow-y: scroll;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.modal-window.active {
  left: 0%;
}
.modal-window .closing-button {
  display: table;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  z-index: 10;
}
.modal-window .closing-button .internal-additory-module {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.modal-window .closing-button .cross {
  width: 14px;
  height: 14px;
  -webkit-transition: fill 0.2s ease-in-out;
  -moz-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
  fill: white;
}
.modal-window .closing-button:hover {
  cursor: pointer;
}
.modal-window .closing-button:hover .cross {
  fill: #f31462;
}

.modal-window {
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 100%;
  background-image: url("../img/background.png");
}
.modal-window form {
  padding: 21px 32px 32px;
  background-color: white;
  border-radius: 8px;
}
.modal-window form h3 {
  margin: 0px auto 24px;
  text-align: center;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #182222;
}
.modal-window form .module-with-image {
  position: relative;
}
.modal-window form .module-with-image:after {
  position: absolute;
  top: -12px;
  left: -20px;
  content: "";
  display: block;
  width: 115px;
  height: 392px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}
.modal-window form .additory-container {
  margin-bottom: 22px;
}
.modal-window form .additory-container div p {
  padding-left: 24px;
  color: #717171;
  font-size: 15px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  margin: 0px auto;
}
.modal-window form .module-with-padding {
  padding: 0px 20px;
}
.modal-window form .module-with-padding .form-row {
  position: relative;
}
.modal-window form .module-with-padding .form-row:not(:last-of-type) {
  margin-bottom: 16px;
}
.modal-window form .module-with-padding .form-row label {
  font-size: 16px;
  font-family: "TTNorms-Light", arial, sans-serif;
  font-weight: 300;
  color: #182222;
  margin: 0px;
}
.modal-window form .module-with-padding .form-row input:not([type=submit]) {
  padding: 0px 10px;
  width: 100%;
  height: 46px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.modal-window form .module-with-padding input[type=submit] {
  display: block;
  width: 90%;
  margin: 16px auto 0px;
  border: none;
  border-radius: 52px;
  height: 52px;
}

footer {
  padding: 20px 0px;
}
footer .additory-container {
  margin: 0px auto;
}
footer .additory-container svg {
  width: 100%;
  height: 30px;
  fill: #182222;
}
footer .additory-container h3 {
  padding-left: 15px;
  margin: 0px;
  font-family: "TTNorms-Medium", arial, sans-serif;
  font-weight: 500;
}
footer .additory-container:first-of-type {
  width: 30px;
}
footer .module-with-contact-data p {
  font-family: "TTNorms-Light", arial, sans-serif;
  font-size: 18px;
  color: #182222;
}
footer .module-with-contact-data p:not(:last-child) {
  margin-bottom: 10px;
}
footer .module-with-contact-data p:last-child {
  margin: 0px;
}
footer .module-with-additory-data p {
  font-family: "TTNorms-Light", arial, sans-serif;
}
footer .module-with-additory-data p.email {
  font-size: 18px;
}
footer .module-with-additory-data p.copyright {
  font-size: 16px;
}
footer .module-with-additory-data p:not(:last-child) {
  margin-bottom: 10px;
}
footer .module-with-additory-data p:last-child {
  margin: 0px;
}
footer .module-with-additory-list {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
footer .module-with-additory-list li {
  padding: 0px 5px;
  display: inline-block;
}
footer .module-with-additory-list li a {
  font-family: "TTNorms-Light", arial, sans-serif;
  font-size: 16px;
}

@media screen and (min-device-width: 721px) {
  footer .module-with-additory-list {
    margin-top: 15px;
  }
  footer .module-with-additory-data p {
    text-align: right;
  }
}
@media screen and (max-device-width: 720px) {
  footer .module-with-contact-data, footer .module-with-logotype, footer .module-with-additory-data {
    margin-bottom: 20px;
  }
  footer .module-with-additory-data p {
    text-align: center;
  }
}
.preloader-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 45;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  opacity: 0;
}
.preloader div {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
}

#figure-1 {
  bottom: 15px;
  left: 60px;
  -o-animation: rotation 3s infinite;
  -moz-animation: rotation 3s infinite;
  -webkit-animation: rotation 3s infinite;
  animation: rotation 3s infinite;
}

#figure-2 {
  bottom: 15px;
  left: 15px;
  -o-animation: moving-2 3s infinite, reverse-rotation 3s infinite;
  -moz-animation: moving-2 3s infinite, reverse-rotation 3s infinite;
  -webkit-animation: moving-2 3s infinite, reverse-rotation 3s infinite;
  animation: moving-2 3s infinite, reverse-rotation 3s infinite;
}

#figure-3 {
  bottom: 30px;
  left: 15px;
  -o-animation: moving-3 3s infinite, reverse-rotation 3s infinite;
  -moz-animation: moving-3 3s infinite, reverse-rotation 3s infinite;
  -webkit-animation: moving-3 3s infinite, reverse-rotation 3s infinite;
  animation: moving-3 3s infinite, reverse-rotation 3s infinite;
}

#figure-4 {
  bottom: 45px;
  left: 15px;
  -o-animation: moving-4 3s infinite, reverse-rotation 3s infinite;
  -moz-animation: moving-4 3s infinite, reverse-rotation 3s infinite;
  -webkit-animation: moving-4 3s infinite, reverse-rotation 3s infinite;
  animation: moving-4 3s infinite, reverse-rotation 3s infinite;
}

#figure-5 {
  bottom: 60px;
  left: 15px;
  -o-animation: rotation 3s infinite;
  -moz-animation: rotation 3s infinite;
  -webkit-animation: rotation 3s infinite;
  animation: rotation 3s infinite;
}

#figure-6 {
  bottom: 60px;
  left: 30px;
  -o-animation: moving-6 3s infinite, rotation 3s infinite;
  -moz-animation: moving-6 3s infinite, rotation 3s infinite;
  -webkit-animation: moving-6 3s infinite, rotation 3s infinite;
  animation: moving-6 3s infinite, rotation 3s infinite;
}

#figure-7 {
  bottom: 60px;
  left: 45px;
  -o-animation: moving-7 3s infinite, rotation 3s infinite;
  -moz-animation: moving-7 3s infinite, rotation 3s infinite;
  -webkit-animation: moving-7 3s infinite, rotation 3s infinite;
  animation: moving-7 3s infinite, rotation 3s infinite;
}

#figure-8 {
  bottom: 60px;
  left: 60px;
  -o-animation: moving-8 3s infinite, rotation 3s infinite;
  -moz-animation: moving-8 3s infinite, rotation 3s infinite;
  -webkit-animation: moving-8 3s infinite, rotation 3s infinite;
  animation: moving-8 3s infinite, rotation 3s infinite;
}

#figure-9 {
  bottom: 30px;
  left: 30px;
  -o-animation: moving-9 3s infinite, rotation 3s infinite;
  -moz-animation: moving-9 3s infinite, rotation 3s infinite;
  -webkit-animation: moving-9 3s infinite, rotation 3s infinite;
  animation: moving-9 3s infinite, rotation 3s infinite;
}

@-webkit-keyframes moving-2 {
  0%, 66% {
    bottom: 15px;
    left: 15px;
  }
  25% {
    bottom: -7.5px;
    left: 36.5px;
  }
}
@-moz-keyframes moving-2 {
  0%, 66% {
    bottom: 15px;
    left: 15px;
  }
  25% {
    bottom: -7.5px;
    left: 36.5px;
  }
}
@-ms-keyframes moving-2 {
  0%, 66% {
    bottom: 15px;
    left: 15px;
  }
  25% {
    bottom: -7.5px;
    left: 36.5px;
  }
}
@keyframes moving-2 {
  0%, 66% {
    bottom: 15px;
    left: 15px;
  }
  25% {
    bottom: -7.5px;
    left: 36.5px;
  }
}
@-webkit-keyframes moving-3 {
  0%, 66% {
    bottom: 30px;
    left: 15px;
  }
  25% {
    bottom: 14.5px;
    left: 14.5px;
  }
}
@-moz-keyframes moving-3 {
  0%, 66% {
    bottom: 30px;
    left: 15px;
  }
  25% {
    bottom: 14.5px;
    left: 14.5px;
  }
}
@-ms-keyframes moving-3 {
  0%, 66% {
    bottom: 30px;
    left: 15px;
  }
  25% {
    bottom: 14.5px;
    left: 14.5px;
  }
}
@keyframes moving-3 {
  0%, 66% {
    bottom: 30px;
    left: 15px;
  }
  25% {
    bottom: 14.5px;
    left: 14.5px;
  }
}
@-webkit-keyframes moving-4 {
  0%, 66% {
    bottom: 45px;
    left: 15px;
  }
  25% {
    bottom: 36.5px;
    left: -8.5px;
  }
}
@-moz-keyframes moving-4 {
  0%, 66% {
    bottom: 45px;
    left: 15px;
  }
  25% {
    bottom: 36.5px;
    left: -8.5px;
  }
}
@-ms-keyframes moving-4 {
  0%, 66% {
    bottom: 45px;
    left: 15px;
  }
  25% {
    bottom: 36.5px;
    left: -8.5px;
  }
}
@keyframes moving-4 {
  0%, 66% {
    bottom: 45px;
    left: 15px;
  }
  25% {
    bottom: 36.5px;
    left: -8.5px;
  }
}
@-webkit-keyframes moving-5 {
  0%, 66% {
    bottom: 60px;
    left: 15px;
  }
  25% {
    bottom: 75px;
    left: 0px;
  }
}
@-moz-keyframes moving-5 {
  0%, 66% {
    bottom: 60px;
    left: 15px;
  }
  25% {
    bottom: 75px;
    left: 0px;
  }
}
@-ms-keyframes moving-5 {
  0%, 66% {
    bottom: 60px;
    left: 15px;
  }
  25% {
    bottom: 75px;
    left: 0px;
  }
}
@keyframes moving-5 {
  0%, 66% {
    bottom: 60px;
    left: 15px;
  }
  25% {
    bottom: 75px;
    left: 0px;
  }
}
@-webkit-keyframes moving-6 {
  0%, 66% {
    bottom: 60px;
    left: 30px;
  }
  25% {
    bottom: 83.5px;
    left: 38.5px;
  }
}
@-moz-keyframes moving-6 {
  0%, 66% {
    bottom: 60px;
    left: 30px;
  }
  25% {
    bottom: 83.5px;
    left: 38.5px;
  }
}
@-ms-keyframes moving-6 {
  0%, 66% {
    bottom: 60px;
    left: 30px;
  }
  25% {
    bottom: 83.5px;
    left: 38.5px;
  }
}
@keyframes moving-6 {
  0%, 66% {
    bottom: 60px;
    left: 30px;
  }
  25% {
    bottom: 83.5px;
    left: 38.5px;
  }
}
@-webkit-keyframes moving-7 {
  0%, 66% {
    bottom: 60px;
    left: 45px;
  }
  25% {
    bottom: 61px;
    left: 61px;
  }
}
@-moz-keyframes moving-7 {
  0%, 66% {
    bottom: 60px;
    left: 45px;
  }
  25% {
    bottom: 61px;
    left: 61px;
  }
}
@-ms-keyframes moving-7 {
  0%, 66% {
    bottom: 60px;
    left: 45px;
  }
  25% {
    bottom: 61px;
    left: 61px;
  }
}
@keyframes moving-7 {
  0%, 66% {
    bottom: 60px;
    left: 45px;
  }
  25% {
    bottom: 61px;
    left: 61px;
  }
}
@-webkit-keyframes moving-8 {
  0%, 66% {
    bottom: 60px;
    left: 60px;
  }
  25% {
    bottom: 38.5px;
    left: 83.5px;
  }
}
@-moz-keyframes moving-8 {
  0%, 66% {
    bottom: 60px;
    left: 60px;
  }
  25% {
    bottom: 38.5px;
    left: 83.5px;
  }
}
@-ms-keyframes moving-8 {
  0%, 66% {
    bottom: 60px;
    left: 60px;
  }
  25% {
    bottom: 38.5px;
    left: 83.5px;
  }
}
@keyframes moving-8 {
  0%, 66% {
    bottom: 60px;
    left: 60px;
  }
  25% {
    bottom: 38.5px;
    left: 83.5px;
  }
}
@-webkit-keyframes moving-9 {
  0%, 66% {
    bottom: 30px;
    left: 30px;
  }
  25% {
    bottom: 37.5px;
    left: 37.5px;
  }
}
@-moz-keyframes moving-9 {
  0%, 66% {
    bottom: 30px;
    left: 30px;
  }
  25% {
    bottom: 37.5px;
    left: 37.5px;
  }
}
@-ms-keyframes moving-9 {
  0%, 66% {
    bottom: 30px;
    left: 30px;
  }
  25% {
    bottom: 37.5px;
    left: 37.5px;
  }
}
@keyframes moving-9 {
  0%, 66% {
    bottom: 30px;
    left: 30px;
  }
  25% {
    bottom: 37.5px;
    left: 37.5px;
  }
}
@-webkit-keyframes rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@-moz-keyframes rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@-ms-keyframes rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@keyframes rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@-webkit-keyframes reverse-rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@-moz-keyframes reverse-rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@-ms-keyframes reverse-rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
@keyframes reverse-rotation {
  0%, 66% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
}
/*@keyframes moving-2 {
    0%, $secondPoint {
        bottom: 15px;
        left: 15px;
    }
    $firstPoint {
        bottom: -7.5px;
        left: 36.5px;
    }
}*/
/*@keyframes moving-3 {
    0%, $secondPoint {
        bottom: 30px;
        left: 15px;
    }
    $firstPoint {
        bottom: 14.5px;
        left: 14.5px;
    }
}*/
/*@keyframes moving-4 {
    0%, $secondPoint {
        bottom: 45px;
        left: 15px;
    }
    $firstPoint {
        bottom: 36.5px;
        left: -8.5px;
    }
}*/
/*@keyframes moving-5 {
    0%, $secondPoint {
        bottom: 60px;
        left: 15px;
    }
    $firstPoint {
        bottom: 75px;
        left: 0px;
    }
}*/
/*@keyframes moving-6 {
    0%, $secondPoint {
        bottom: 60px;
        left: 30px;
    }
    $firstPoint {
        bottom: 83.5px;
        left: 38.5px;
    }
}*/
/*@keyframes moving-7 {
    0%, $secondPoint {
        bottom: 60px;
        left: 45px;
    }
    $firstPoint {
        bottom: 61px;
        left: 61px;
    }
}*/
/*@keyframes moving-8 {
    0%, $secondPoint {
        bottom: 60px;
        left: 60px;
    }
    $firstPoint {
        bottom: 38.5px; //45
        left: 83.5px; //90
    }
}
@keyframes moving-9 {
    0%, $secondPoint {
        bottom: 30px;
        left: 30px;
    }
    $firstPoint {
        bottom: 37.5px;
        left: 37.5px;
    }
}*/
/*@keyframes rotation {
    0%, $secondPoint {
        transform: rotate(0deg);
    }
    $firstPoint {
        transform: rotate(135deg);
    }
}
@keyframes reverse-rotation {
    0%, $secondPoint {
        transform: rotate(0deg);
    }
    $firstPoint {
        transform: rotate(-135deg);
    }
}*/
.m-hidden {
  display: none;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}

.additory-container {
  display: table;
}
.additory-container .container-cell {
  display: table-cell;
  vertical-align: middle;
}

br {
  display: none;
}

/*# sourceMappingURL=mobile-style.css.map */
