.modal-window {
    position: fixed;
    width: 100%;
    top: 0%;
    left: -100%;
    @include transition(left, 0.4s, ease-in-out);
    &.active {
        left: 0%;
    }
    .closing-button {
        display: table;
        position: absolute;
        top: 10px;
        right: 25px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        z-index: 10;
        .internal-additory-module {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        .cross {
            width: 14px;
            height: 14px;
            @include transition(fill, 0.2s, ease-in-out);
            fill: $black;
        }
        &:hover {
            cursor: pointer;
            .cross {
                fill: $red;
            }
        }
    }
}